body{
	opacity: .95;
	background-color: #03C9A9;
	color: white;
	font-style: helvetica;
	font-family: sans-serif;
	list-style: none;
}

.inline{
	display: inline;
}

.shadow {
 -webkit-box-shadow: 0 0 6px 4px gray;
   -moz-box-shadow: 0 0 6px 4px gray;
        box-shadow: 0 0 6px 4px gray;
}

img{
	padding-top: 10px;
	padding-bottom: 10px;
}

a{
	color: white;
}